# Electron 镜像源配置
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# npm 镜像源（可选，如果下载其他包慢可以启用）
# registry=https://registry.npmmirror.com